.browse-main {
    @extend %main-photo;
    background: $primary-color url(../images/browse-main-photo.jpg) center center no-repeat;
    background-size: cover;
}

%icon-rollover {
  display: block;
  height: 75px;
  margin: 0px;
  width: 75px;
}

%icon-rollover-hover{
  background-position: 0 -75px;
}

.animals-rollover:hover { 
  @extend %icon-rollover-hover;
}

.animals-rollover {
  @extend %icon-rollover;
  background: url(../images/icon-animals-ro.png) no-repeat 0 0;
}

.community-rollover {
  @extend %icon-rollover;
  background: url(../images/icon-community-ro.png) no-repeat 0 0;
}

.community-rollover:hover { 
  @extend %icon-rollover-hover;
}

.education-rollover {
  @extend %icon-rollover;
  background: url(../images/icon-education-ro.png) no-repeat 0 0;
}

.education-rollover:hover { 
  @extend %icon-rollover-hover;
}

.environment-rollover {
  @extend %icon-rollover;
  background: url(../images/icon-environment-ro.png) no-repeat 0 0;
}

.environment-rollover:hover { 
  @extend %icon-rollover-hover;
}

.health-rollover {
  @extend %icon-rollover;
  background: url(../images/icon-health-ro.png) no-repeat 0 0;
}

.health-rollover:hover { 
  @extend %icon-rollover-hover;
}


%charity-box-clicked {
    border-radius: $global-radius;
    height:255px;
    margin-bottom: 30px;
    width:225px;
}

.charity-box-clicked-an {
  @extend %charity-box-clicked;
  background-color: $animals-color;
  padding: 30px;
}

h5 {
    color: #777;
    font: { 
      family: $body-font-family;
      size: $h5-font-size;
      weight: 600;
    }
    line-height: 18px;
    margin: 10px 0 0 10px;
    text-align: left;
}

h6 {
    color: #777;
    font: { 
      family: $body-font-family;
      size: $h6-font-size;
      style: italic;
      weight: 300;
    }
    margin-left: 10px;
    text-align: left;
}

.img-icon-sm {
    float: right;
    margin: 10px 10px 10px 0;
    
}

.img-rounded-ch {
    border-radius: 10px 10px 0 0;}

.charity-box{
  margin-bottom: 30px;
  
  .box-front{
    background-color: #DDDDDD;
    border-radius:10px;
    padding-bottom:2.3em;
    overflow:hidden;
  }

  .box-back{
    background-color:$animals-color;
    border-radius:10px;
    display:none;
    height:255px;
    padding-bottom:2.3em;
    overflow:hidden;

    .close-box-details{
      color:#ffffff;
      font-family: $body-font-family;
      font-size:15px;
      float:right;
    }
  }
}

ul#filterOptions {
  height: 52px;
  margin: 30px 0;
  overflow: hidden;
  width: 802px;
}

ul#filterOptions li { 
  float: left;
  height: 52px; 
  margin-right: 2px; 
}

ul#filterOptions li a {
  height: 50px;
  padding: 0 20px;
  border: 1px solid #999;
  background: #cfcfcf;
  color: #fff;
  font-weight: bold;
  line-height: 50px;
  text-decoration: none;
  display: block;
}

ul#filterOptions li a:hover { 
  background: #c9c9c9; 
}

ul#filterOptions li.active a { 
  background: #999; 
}

#ourHolder { 
  height: 850px; 
  overflow: hidden;
  width: 800px;  
}

#ourHolder div.item {
  float: left;
  height: 200px;
  text-align: center;
  width: 200px;
}

#ourHolder div.item h3 { 
  font-size: 16px; 
  line-height: 20px;
  margin-top: 10px;  
}

