.browse-main {
  @extend %main-photo;
  background: $primary-color url(../images/browse-main-photo.jpg) center center no-repeat;
  background-size: cover;
}

.animals-rollover a {
  background-image:url(../images/icon-animals-2x.png); 
  display: block;
  float: left;
  height: 75px;
  margin-right: 15px;
  width: 75px;
}

.animals-rollover a:hover {
  background-image:url(../images/icon-animals-2x-color.png); 
  display: block;
  float: left;
  height: 75px;
  margin-right: 15px;
  width: 75px;
}