.browse-main {
    @extend %main-photo;
    background: $primary-color url(../images/browse-main-photo.jpg) center center no-repeat;
    background-size: cover;
}

%icon-rollover {
  display: block;
  height: 75px;
  width: 75px;
}

%icon-rollover-hover{
  background-position: 0 -75px;
}

.animals-rollover:hover { 
  @extend %icon-rollover-hover;
}

.animals-rollover {
  @extend %icon-rollover;
  background: url(../images/icon-animals-ro.png) no-repeat 0 0;
}

.community-rollover {
  @extend %icon-rollover;
  background: url(../images/icon-community-ro.png) no-repeat 0 0;
}

.community-rollover:hover { 
  @extend %icon-rollover-hover;
}

.education-rollover {
  @extend %icon-rollover;
  background: url(../images/icon-education-ro.png) no-repeat 0 0;
}

.education-rollover:hover { 
  @extend %icon-rollover-hover;
}

.environment-rollover {
  @extend %icon-rollover;
  background: url(../images/icon-environment-ro.png) no-repeat 0 0;
}

.environment-rollover:hover { 
  @extend %icon-rollover-hover;
}

.health-rollover {
  @extend %icon-rollover;
  background: url(../images/icon-health-ro.png) no-repeat 0 0;
}

.health-rollover:hover { 
  @extend %icon-rollover-hover;
}


%charity-box-clicked {
    border-radius: $global-radius;
    height:255px;
    margin-bottom: 30px;
    width:225px;
}

.charity-box-clicked-an {
  @extend %charity-box-clicked;
  background-color: $animals-color;
  padding: 30px;
}

h5 {
    color: #777;
    font: { 
      family: $body-font-family;
      size: $h5-font-size;
      weight: 600;
    }
    line-height: 18px;
    margin: 10px 0 0 10px;
    text-align: left;
}

h6 {
    color: #777;
    font: { 
      family: $body-font-family;
      size: $h6-font-size;
      style: italic;
      weight: 300;
    }
    margin-left: 10px;
    text-align: left;
}

.img-icon-sm {
    float: right;
    margin: 10px 10px 10px 0;
    
}

.img-rounded-ch {
    border-radius: 10px 10px 0 0;}

.charity-box{
  margin-bottom: 30px;
  
  .box-front{
    background-color: #DDDDDD;
    border-radius:10px;
    padding-bottom:2.3em;
    overflow:hidden;
  }

  .box-back{
    background-color:$animals-color;
    border-radius:10px;
    display:none;
    height:255px;
    padding-bottom:2.3em;
    overflow:hidden;

    .close-box-details{
      color:#ffffff;
      font-size:25px;
    }
  }
}

