//GLOBAL STYLES

//HEADER

ul {
    float:right;
    li {
        display:inline;
        a {color: $body-font-color;
            text-decoration: none;
            &:hover {
                color: $body-font-color;
                text-decoration: none;
                border-bottom: 3px solid #f7d43a;
            }
        }
        &.active {
            color: $body-font-color;
            text-decoration: none;
            border-bottom: 3px solid #f7d43a;
        }
    }
}

//MAIN IMAGE

%main-photo {
    margin-bottom: 30px;
    margin-top: 30px;
    min-height: 315px;
    padding: 75px;
    text-align: center;    
}


//FOOTER
footer{
  background-color:$third-color;
  padding:1.3em;
}