//GLOBAL STYLES

body,p {
    color: $body-font-family;
    font:   {
        family: $body-font-family;
        size: 14px;
        weight: 300;
    }
    line-height: 26px;
    text-align: left;
}

%subhead {
    font: { 
      family: $body-font-family;
      size: $h4-font-size;
      weight: 700;
    }
}

%button {
    border: 1px solid #fff;
    border-radius: $global-radius;
    color: #fff;
    font: {
        family: $body-font-family;
        size: 15px;
        weight: 300;
    }
    margin:20px 20px 20px 0;
    padding: 8px 20px;
    text-align: center;
    text-transform: uppercase;
}

%button:hover {
    background: #fff;
    border: 1px solid;
}

.button-donate-an {
  @extend %button;
  background-color: $animals-color;
}

.button-donate-an:hover{
  @extend %button:hover;
  color: #f7d43a;
  border: 1px solid #f7d43a;
}

//HEADER

ul {
    float:right;
    li {
        display:inline;
        a {color: $body-font-color;
            font-size: 14px;
            text-decoration: none;
            &:hover {
                color: $body-font-color;
                text-decoration: none;
                border-bottom: 3px solid #f7d43a;
            }
        }
    }
}

//MAIN IMAGE

%main-photo {
    margin: 15px 0 30px 0;
    min-height: 315px;
    padding: 75px;
    text-align: center;    
}

h1 {
    color: $header-font-color;
    font: {
        family: $body-font-family;
        size: $h1-font-size;
        weight: 400;
    }
    line-height: $header-line-height;
    margin-bottom: 30px;
    text-align: center;
    text-shadow: 2px 2px #777;
}


//STATS BAR

.stats {
    background-color: $secondary-color;
    margin-bottom: 50px;
    padding: 30px 0;

}

.img-icon {
    float: left;
    margin-right: 15px;
}

%stats-subhead {
    font:   {
        family: $body-font-family;
        size: $h2-font-size;
        weight: 400;
    }
    line-height: 22px;
    text-align: left;   
}

h3 {
    color: $header-font-color;
    font:   {
        family: $body-font-family;
        size: $h3-font-size;
        weight: 300;
    }
  line-height: 22px;
  text-align: left;
}


//FOOTER

footer{
  background-color:$third-color;
  padding:1.3em;
}