ul {
    float:right;
    li {
        display:inline;
        a {color: $body-font-color;
            text-decoration: none;
            &:hover {
                color: $body-font-color;
                text-decoration: none;
                border-bottom: 3px solid #f7d43a;
            }
        }
        &.active {
            color: $body-font-color;
            text-decoration: none;
            border-bottom: 3px solid #f7d43a;
        }
    }
}