.profile-left-pad {
  width: 30%;
}

.profile-turtles-main {
    margin: 15px 0 30px 0;
    min-height: 315px;  
    background: $primary-color url(../images/turtles-main-photo.jpg) center center no-repeat;
    background-size: cover;
}

.profile-left {
  padding: 25px;
  text-align: left;
  min-height: 315px;
  background-color: rgba(255,255,255,.3);
}

.profile-right {
    padding: 25px 50px 0 0;
    text-align: left;
}

ul.profile-text {
    list-style-type: square;
    color: #fff;
}




.img-rounded-profile {
  border-radius: 0 10px 10px 0;
  float:left;
}

.stats-subhead-profile {
    @extend %stats-subhead;
    color: $body-font-color;
    text-align: center;
}

.subhead-profile {
  @extend %subhead;
  color: $body-font-color;
}  

.comments-box {
  background-color: #ddd;
  margin-bottom: 30px;
  padding: 30px 0;

  }

.comments-profiles {
    margin:30px;

}

.comments-box {
  background-color: #ddd;
  margin-bottom: 30px;
  padding: 30px 0;
  
}

.donate-form-an {
  background-color: $animals-color;
  border-radius: $global-radius;
  padding:30px;
  text-align:center;
}

.form-text-line{
  display: inline-block;
  text-align: left;
}

